[submodule "vimrc.git"]
	path = vimrc.git
	url = git@github.com:melvynkim/vimrc.git
[submodule "zsh.git/oh-my-zsh"]
	path = zsh.git/oh-my-zsh
	url = git@github.com:melvynkim/oh-my-zsh.git
[submodule "zshrc.git"]
	path = zshrc.git
	url = git@github.com:melvynkim/zshrc.git
